body{
  background-color: blue;
}

.Container{
  margin: 100px;
}

div{
  border: 3px solid black;
  margin: 2px 1px 0px 0px;
  padding: 10px 10px 0px 10px;
}

#TextPart{
  border: 1px dashed green;
  height: 25px;
  font-family:arial;
  font-size: 15px;
  color: red;
}

#PicPart{
  border: 1px dashed white;
  margin-right: 65%;
  padding: 12px;
  position: relative;
  right: 8px;
}

img{
  max-width: 100%;
  max-height: 100%;
}
