body{
  background-color: green;
  margin:0 auto;
  border: 6px solid white;
}

#Wrapper{
  width:800px;
  margin:8px auto;
}

#LeftBox{
  background-color: blue;
  float:left;
  position:relative;right:50px;
}

#RightBox{
  background-color: red;
  float:right;
  position:relative;left:50px;
}

#LowerBox{
  background-color: yellow;
  clear: both;
  position:relative;left:275px;
}

#LeftBox,#RightBox,#LowerBox{
  height: 250px;
  width: 250px;
  font-size: 14px;
}
